In [ ]:
import pandas as pd
df = pd.read_csv("C:\\Users\\vaishnavi\\Downloads\\tested.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
mq = df.Age.mean()
df.Age = df.Age.fillna(mq)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,NaN,C

In [ ]:
df.drop(['PassengerId','Name','Parch','SibSp','Ticket','Fare','Cabin','Embarked'],inplace=True,axis=1)
df

     Survived  Pclass     Sex       Age
0           0       3    male  34.50000
1           1       3  female  47.00000
2           0       2    male  62.00000
3           0       3    male  27.00000
4           1       3  female  22.00000
..        ...     ...     ...       ...
413         0       3    male  30.27259
414         1       1  female  39.00000
415         0       3    male  38.50000
416         0       3    male  30.27259
417         0       3    male  30.27259

[418 rows x 4 columns]

In [ ]:
df.Sex = df.Sex.map({'male':0,'female':1})
df

     Survived  Pclass  Sex       Age
0           0       3    0  34.50000
1           1       3    1  47.00000
2           0       2    0  62.00000
3           0       3    0  27.00000
4           1       3    1  22.00000
..        ...     ...  ...       ...
413         0       3    0  30.27259
414         1       1    1  39.00000
415         0       3    0  38.50000
416         0       3    0  30.27259
417         0       3    0  30.27259

[418 rows x 4 columns]

In [ ]:
#logistic
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
x = df[['Pclass','Sex','Age']]
y = df[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model = LogisticRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1.0

In [ ]:
#NVB
from sklearn.naive_bayes import GaussianNB
x = df[['Pclass','Sex','Age']]
y = df[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model = GaussianNB()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1.0

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
x = df[['Pclass','Sex','Age']]
y = df[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model =  KNeighborsClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.8690476190476191

In [ ]:
#Decision tree
from sklearn.tree import DecisionTreeClassifier
x = df[['Pclass','Sex','Age']]
y = df[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model =  DecisionTreeClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

1.0

In [ ]:
#SVM
from sklearn.svm import SVC
x = df[['Pclass','Sex','Age']]
y = df[['Survived']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
model =  SVC()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

0.6309523809523809

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

<ipython-input-11-ed7128426df9>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

1.0

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
acc

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1.0

In [ ]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train)
model.score(x_train,y_train)

[09:35:18] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\tanuj\Anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1.0

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
model.score(x_train,y_train)

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

1.0

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(SVC(C=10,gamma='auto',kernel='linear'),x,y,cv=5)

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([1., 1., 1., 1., 1.])

In [ ]:
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(SVC(),{'C':[1,4,5,6,7,8,10],
                        'gamma':['auto','scale'],
                        'kernel':['rbf','linear','poly']},cv=4,return_train_score=True)
gs.fit(x,y)
gs.cv_results_
df1 = pd.DataFrame(gs.cv_results_)
df1

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,...,split3_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,mean_train_score,std_train_score
0,0.019682,0.006571,0.010171,0.003004,1,auto,rbf,"{'C': 1, 'gamma': 'auto', 'kernel': 'rbf'}",0.942857,0.933333,...,0.971154,0.949817,0.013963,32,0.996805,0.996805,0.996815,0.996815,0.996810,0.000005
1,0.006127,0.003538,0.007242,0.002178,1,auto,linear,"{'C': 1, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
2,0.012113,0.007046,0.005605,0.004023,1,auto,poly,"{'C': 1, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
3,0.024930,0.001329,0.011079,0.003263,1,scale,rbf,"{'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}",0.638095,0.638095,...,0.634615,0.636355,0.001740,42,0.635783,0.635783,0.636943,0.636943,0.636363,0.000580
4,0.008217,0.000152,0.005224,0.003226,1,scale,linear,"{'C': 1, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
5,0.120895,0.049409,0.002022,0.003502,1,scale,poly,"{'C': 1, 'gamma': 'scale', 'kernel': 'poly'}",0.723810,0.666667,...,0.759615,0.717811,0.033206,41,0.722045,0.734824,0.716561,0.703822,0.719313,0.011131
6,0.017730,0.003657,0.013718,0.003307,4,auto,rbf,"{'C': 4, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
7,0.008063,0.005661,0.009140,0.004478,4,auto,linear,"{'C': 4, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
8,0.008406,0.008444,0.008522,0.007264,4,auto,poly,"{'C': 4, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
9,0.023580,0.008157,0.010389,0.006379,4,scale,rbf,"{'C': 4, 'gamma': 'scale', 'kernel': 'rbf'}",0.857143,0.666667,...,0.788462,0.779991,0.070061,40,0.872204,0.667732,0.824841,0.824841,0.797404,0.077323
10,0.009560,0.004841,0.004809,0.004201,4,scale,linear,"{'C': 4, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
11,0.154651,0.037904,0.000000,0.000000,4,scale,poly,"{'C': 4, 'gamma': 'scale', 'kernel': 'poly'}",0.876190,0.847619,...,0.875000,0.868452,0.012038,39,0.865815,0.872204,0.866242,0.866242,0.867626,0.002649
12,0.024058,0.008470,0.003955,0.006851,5,auto,rbf,"{'C': 5, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
13,0.009949,0.003305,0.006331,0.003678,5,auto,linear,"{'C': 5, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
14,0.011757,0.006788,0.003922,0.006793,5,auto,poly,"{'C': 5, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
15,0.021629,0.003657,0.013487,0.002934,5,scale,rbf,"{'C': 5, 'gamma': 'scale', 'kernel': 'rbf'}",0.923810,1.000000,...,0.884615,0.920856,0.049215,33,0.936102,0.964856,0.929936,0.917197,0.937023,0.017456
16,0.006723,0.002808,0.003927,0.004056,5,scale,linear,"{'C': 5, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
17,0.238959,0.131920,0.003124,0.003253,5,scale,poly,"{'C': 5, 'gamma': 'scale', 'kernel': 'poly'}",0.914286,0.847619,...,0.894231,0.885188,0.024188,38,0.884984,0.891374,0.894904,0.891720,0.890746,0.003600
18,0.015577,0.000181,0.014776,0.001484,6,auto,rbf,"{'C': 6, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
19,0.006449,0.004114,0.007123,0.001723,6,auto,linear,"{'C': 6, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
20,0.007812,0.007812,0.003893,0.006743,6,auto,poly,"{'C': 6, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
21,0.024592,0.006838,0.013728,0.003312,6,scale,rbf,"{'C': 6, 'gamma': 'scale', 'kernel': 'rbf'}",0.961905,0.990476,...,0.932692,0.952038,0.026400,31,0.955272,1.000000,0.958599,0.952229,0.966525,0.019458
22,0.006139,0.003669,0.008614,0.006447,6,scale,linear,"{'C': 6, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
23,0.408944,0.265955,0.002515,0.003781,6,scale,poly,"{'C': 6, 'gamma': 'scale', 'kernel': 'poly'}",0.952381,0.885714,...,0.923077,0.916255,0.024690,34,0.904153,0.920128,0.920382,0.914013,0.914669,0.006585
24,0.019610,0.001652,0.007755,0.002431,7,auto,rbf,"{'C': 7, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25,0.009841,0.003181,0.002069,0.002069,7,auto,linear,"{'C': 7, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
26,0.018581,0.007813,0.000800,0.001115,7,auto,poly,"{'C': 7, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
27,0.028018,0.004812,0.012175,0.003547,7,scale,rbf,"{'C': 7, 'gamma': 'scale', 'kernel': 'rbf'}",0.971429,0.990476,...,0.942308,0.959226,0.022999,30,0.971246,0.993610,0.964968,0.958599,0.972106,0.013196
28,0.008286,0.005362,0.002080,0.003603,7,scale,linear,"{'C': 7, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
29,0.297062,0.147197,0.008879,0.004271,7,scale,poly,"{'C': 7, 'gamma': 'scale', 'kernel': 'poly'}",0.952381,0.885714,...,0.923077,0.916255,0.024690,34,0.904153,0.926518,0.920382,0.914013,0.916266,0.008274
30,0.020626,0.006945,0.009821,0.006465,8,auto,rbf,"{'C': 8, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
31,0.011737,0.004041,0.004839,0.004701,8,auto,linear,"{'C': 8, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
32,0.013548,0.008430,0.005607,0.006417,8,auto,poly,"{'C': 8, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
33,0.027862,0.004564,0.013789,0.001856,8,scale,rbf,"{'C': 8, 'gamma': 'scale', 'kernel': 'rbf'}",0.980952,0.990476,...,0.971154,0.973626,0.014272,29,0.977636,0.993610,0.984076,0.987261,0.985646,0.005759
34,0.009178,0.003624,0.004650,0.002732,8,scale,linear,"{'C': 8, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
35,0.238551,0.149463,0.009413,0.006641,8,scale,poly,"{'C': 8, 'gamma': 'scale', 'kernel': 'poly'}",0.952381,0.885714,...,0.923077,0.916255,0.024690,34,0.904153,0.926518,0.920382,0.914013,0.916266,0.008274
36,0.031267,0.000035,0.000000,0.000000,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",0.980952,0.980952,...,0.980769,0.980861,0.000092,23,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
37,0.010370,0.003059,0.001556,0.002696,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
38,0.013842,0.003358,0.005935,0.006504,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.990476,1.000000,...,1.000000,0.992811,0.007966,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
39,0.032020,0.010068,0.013849,0.003110,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",1.000000,0.990476,...,1.000000,0.990408,0.011776,22,0.996805,0.996805,0.996815,0.996815,0.996810,0.000005
40,0.012009,0.006946,0.003358,0.005816,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
41,0.155325,0.103360,0.005911,0.006497,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.952381,0.885714,...,0.923077,0.916255,0.024690,34,0.904153,0.926518,0.920382,0.914013,0.916266,0.008274

In [ ]:
df1[['param_C','param_gamma','param_kernel','mean_test_score']]

   param_C param_gamma param_kernel  mean_test_score
0        1        auto          rbf         0.949817
1        1        auto       linear         1.000000
2        1        auto         poly         0.992811
3        1       scale          rbf         0.636355
4        1       scale       linear         1.000000
5        1       scale         poly         0.717811
6        4        auto          rbf         0.980861
7        4        auto       linear         1.000000
8        4        auto         poly         0.992811
9        4       scale          rbf         0.779991
10       4       scale       linear         1.000000
11       4       scale         poly         0.868452
12       5        auto          rbf         0.980861
13       5        auto       linear         1.000000
14       5        auto         poly         0.992811
15       5       scale          rbf         0.920856
16       5       scale       linear         1.000000
17       5       scale         poly         0.885188
18       6        auto          rbf         0.980861
19       6        auto       linear         1.000000
20       6        auto         poly         0.992811
21       6       scale          rbf         0.952038
22       6       scale       linear         1.000000
23       6       scale         poly         0.916255
24       7        auto          rbf         0.980861
25       7        auto       linear         1.000000
26       7        auto         poly         0.992811
27       7       scale          rbf         0.959226
28       7       scale       linear         1.000000
29       7       scale         poly         0.916255
30       8        auto          rbf         0.980861
31       8        auto       linear         1.000000
32       8        auto         poly         0.992811
33       8       scale          rbf         0.973626
34       8       scale       linear         1.000000
35       8       scale         poly         0.916255
36      10        auto          rbf         0.980861
37      10        auto       linear         1.000000
38      10        auto         poly         0.992811
39      10       scale          rbf         0.990408
40      10       scale       linear         1.000000
41      10       scale         poly         0.916255

In [ ]:
gs.best_params_

{'C': 1, 'gamma': 'auto', 'kernel': 'linear'}

In [ ]:
gs.best_score_

1.0

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
gs = RandomizedSearchCV(SVC(),{'C':[1,4,5,6,7,8,10],
                        'gamma':['auto','scale'],
                        'kernel':['rbf','linear','poly']},cv=4,return_train_score=True)
gs.fit(x,y)
gs.cv_results_
df1 = pd.DataFrame(gs.cv_results_)
df1

C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\tanuj\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_gamma,param_C,params,split0_test_score,split1_test_score,...,split3_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,mean_train_score,std_train_score
0,0.011600,0.002012,0.006929,2.816629e-03,poly,auto,1,"{'kernel': 'poly', 'gamma': 'auto', 'C': 1}",0.990476,1.000000,...,1.000000,0.992811,0.007966,4,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
1,0.010760,0.005714,0.004866,2.962157e-03,linear,scale,1,"{'kernel': 'linear', 'gamma': 'scale', 'C': 1}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
2,0.154580,0.033758,0.006195,3.614439e-03,poly,scale,4,"{'kernel': 'poly', 'gamma': 'scale', 'C': 4}",0.876190,0.847619,...,0.875000,0.868452,0.012038,9,0.865815,0.872204,0.866242,0.866242,0.867626,0.002649
3,0.015673,0.000050,0.015901,4.325501e-04,rbf,auto,4,"{'kernel': 'rbf', 'gamma': 'auto', 'C': 4}",0.980952,0.980952,...,0.980769,0.980861,0.000092,6,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
4,0.015876,0.004670,0.013993,2.887979e-03,rbf,auto,6,"{'kernel': 'rbf', 'gamma': 'auto', 'C': 6}",0.980952,0.980952,...,0.980769,0.980861,0.000092,6,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
5,0.114991,0.049844,0.008141,8.154652e-03,poly,scale,1,"{'kernel': 'poly', 'gamma': 'scale', 'C': 1}",0.723810,0.666667,...,0.759615,0.717811,0.033206,10,0.722045,0.734824,0.716561,0.703822,0.719313,0.011131
6,0.007863,0.007863,0.007899,7.899660e-03,poly,auto,10,"{'kernel': 'poly', 'gamma': 'auto', 'C': 10}",0.990476,1.000000,...,1.000000,0.992811,0.007966,4,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
7,0.019927,0.006593,0.005750,6.463631e-03,rbf,auto,8,"{'kernel': 'rbf', 'gamma': 'auto', 'C': 8}",0.980952,0.980952,...,0.980769,0.980861,0.000092,6,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
8,0.002061,0.003571,0.007810,7.810473e-03,linear,scale,8,"{'kernel': 'linear', 'gamma': 'scale', 'C': 8}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
9,0.000000,0.000000,0.015624,7.226679e-07,linear,auto,5,"{'kernel': 'linear', 'gamma': 'auto', 'C': 5}",1.000000,1.000000,...,1.000000,1.000000,0.000000,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [ ]:
df1[['param_C','param_gamma','param_kernel','mean_test_score']]

  param_C param_gamma param_kernel  mean_test_score
0       1        auto         poly         0.992811
1       1       scale       linear         1.000000
2       4       scale         poly         0.868452
3       4        auto          rbf         0.980861
4       6        auto          rbf         0.980861
5       1       scale         poly         0.717811
6      10        auto         poly         0.992811
7       8        auto          rbf         0.980861
8       8       scale       linear         1.000000
9       5        auto       linear         1.000000

In [ ]:
gs.best_params_

{'kernel': 'linear', 'gamma': 'scale', 'C': 1}

In [ ]:
gs.best_score_

1.0